services:
  app:
    build: .
    container_name: fastapi_htmx_dev
    ports:
      - "8010:8010"
    volumes:
      - ./backend:/app/backend
      - ./scripts:/app/scripts
      - demo_app_db:/dbdata
    environment:
      - DATABASE_URL=sqlite:////dbdata/app.db
    command: uvicorn main:app --host 0.0.0.0 --port 8010 --reload

volumes:
  demo_app_db:
    external: true
