services:
  app:
    build: .
    container_name: fastapi_htmx_dev
    ports:
      - "8010:443"
    volumes:
      - ./backend:/app/backend
      - ./scripts:/app/scripts
      - demo_app_db:/dbdata      
      - ./certs/server.crt:/certs/server.crt:ro
      - ./certs/server.key:/certs/server.key:ro
    environment:
      - DATABASE_URL=sqlite:////dbdata/app.db
    command:
      - uvicorn
      - main:app
      - --host
      - "0.0.0.0"
      - --port
      - "443"
      - --ssl-keyfile
      - /certs/server.key
      - --ssl-certfile
      - /certs/server.crt

volumes:
  app_db:
