 <div x-init="$store.modal.title = 'Alarm: {{ alarm.name }}'"></div> 
 
<form 
    hx-post="{{ url_for('upsert_alarm') }}"
    hx-target="#alarm-container" 
    hx-ext="json-enc"
    hx-swap="innerHTML"
    hx-on="htmx:afterRequest: $store.modal.open = false"
    >


    {% if alarm.id %}
    <!-- ID -->
    <div class="mb-2 hidden">
        <label class="block font-semibold">{{ "ID" | t }}</label>
        <input type="text" name="id" value="{{ alarm.id }}" class="border p-1 w-full"/>
    </div>
    {% endif %}

    <!-- Name -->
    <div class="mb-2">
        <label class="block">{{ "Name" | t }}</label>
        <input type="text" name="name" data-save="true" value="{{ alarm.name }}" class="border p-1 w-full"/>
    </div>

    <!-- Price -->
    <div class="mb-2">
        <label class="block">{{ "Price" | t }}</label>
        <input type="number" name="price" data-save="true" value="{{ alarm.price }}" class="border p-1 w-full"/>
    </div>

    <!-- Start Date -->
    <div class="mb-2">
        <label class="block">{{ "Start Date" | t }}</label>
        <input type="datetime-local" lang="sv"  name="start_date" data-save="true" value="{{ alarm.start_date }}" class="border p-1 w-full"/>
    </div>

    <!-- End Date -->
    <div class="mb-2">
        <label class="block">{{ "End Date" | t }}</label>
        <input type="datetime-local" lang="sv"  name="end_date" data-save="true" value="{{ alarm.end_date }}" class="border p-1 w-full"/>
    </div>

    <!-- Description -->
    <div class="mb-2">
        <label class="block">{{ "Description" | t }}</label>
        <textarea name="description" data-save="true" class="border p-1 w-full">{{ alarm.description }}</textarea>
    </div>

    <!-- Alarm Types -->
    <fieldset class="mb-2 border p-2">
        <legend class="font-bold">{{ "Alarm Types" | t }}</legend>
        <label><input type="checkbox" name="type_a" {% if alarm.type_a %}checked{% endif %}/> {{ "Parties" | t }}</label><br/>
        <label><input type="checkbox" name="type_b" {% if alarm.type_b %}checked{% endif %}/> {{ "AW" | t }}</label><br/>
        <label><input type="checkbox" name="type_c" {% if alarm.type_c %}checked{% endif %}/> {{ "Lectures" | t }}</label><br/>
        <label><input type="checkbox" name="type_d" {% if alarm.type_d %}checked{% endif %}/> {{ "Activism" | t }}</label>
        <label><input type="checkbox" name="type_e" {% if alarm.type_e %}checked{% endif %}/> {{ "Conferences" | t }}</label>
    </fieldset>

    <!-- Extra Options -->
    <fieldset class="mb-2 border p-2">
        <legend class="font-bold">{{ "Extra Options" | t }}</legend>
        <label><input type="checkbox" name="extra_external" {% if alarm.extra_external %}checked{% endif %}/> {{ "External" | t }}</label><br/>
        <label><input type="checkbox" name="extra_non_political" {% if alarm.extra_non_political %}checked{% endif %}/> {{ "Non-Political" | t }}</label><br/>
        <label><input type="checkbox" name="extra_visilble_all" {% if alarm.extra_visilble_all %}checked{% endif %}/> {{ "Visible to All" | t }}</label>
    </fieldset>


    <!-- Submit -->
    <div class="flex justify-end mt-4">
        <button @click="$store.modal.open = false" type="submit" class="px-3 py-1 bg-blue-500 text-white rounded">{{ "Save" | t }}</button>
    </div>
</form>
