{% if company.first_name %}
<div class="mb-1"><strong>{{ "Name" | t }}:</strong> {{ company.first_name }} {{ company.last_name }}</div>
{% endif %}

{% if company.email %}
<div class="mb-1"><strong>{{ "Email" | t }}:</strong> {{ company.email }}</div>
{% endif %}

{% if company.comment %}
<div class="mb-1"><strong>{{ "Comment" | t }}:</strong> {{ company.comment }}</div>
{% endif %}

{% if company.phone %}
<div class="mb-1"><strong>{{ "Phone" | t }}:</strong> {{ company.phone }}</div>
{% endif %}

