

<div id="company-container">
    <div id="company-list"
    >

            <div class="full-table">
        <table class="table-auto w-full border overflow-x-auto">
            <thead>
                <tr>
                    <th class="px-2 py-1 border">{{ "Company" | t }}</th>
                    <th class="px-2 py-1 border">{{ "Name" | t }}</th>
                    <th class="px-2 py-1 border">{{ "Email" | t }}</th>
                    <th class="px-2 py-1 border">{{ "Command" | t }}</th>
                </tr>
            </thead>
            <tbody>
                {% for company in companies %}
                <tr hx-get="{{ url_for('company_detail', company_id=company.id) }}?list=short"
                    hx-target="#company-info"
                    hx-trigger="click"
                    class="cursor-pointer hover:bg-gray-100">

                    <td class="px-2 py-1 border">{{ company.extra.company_name }}</td>
                    <td class="px-2 py-1 border">{{ company.first_name }} {{ company.last_name }}</td>
                    <td class="px-2 py-1 border">{{ company.email }}</td>

                    <td class="px-2 py-1 border text-center" 
                        @click.stop
                        >

                        <button 
                            hx-get="{{ url_for('company_detail', company_id=company.id) }}"
                            hx-target="#modal-container"
                            hx-swap="innerHTML"
                            @click="$store.modal.open = true"
                        >
                            {{ "Edit" | t }}
                        </button>                
                        <button 
                            hx-post="{{ url_for('delete_company', company_id=company.id) }}"
                            hx-on="htmx:afterRequest: 
                                showPopup(event);
                                htmx.ajax('GET', '{{ url_for('companies_list') }}', {target:'#company-container'}); "
                            hx-trigger="confirmed"
                            x-confirm="{{'Are you sure you want to delete this record?' | t }}"
                        >
                                                    {{ "Delete" | t }}
                        </button>   
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
        <div class="mt-2 flex gap-2">
            <button hx-get="{{ url_for('company_detail', company_id=0) }}"
                    hx-target="#modal-container"
                    @click="$store.modal.open = true"
                    class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                {{ "New Company" | t }}
            </button>



        </div>
        
    <div class="mt-4" id="company-info"></div>
        
    </div>

</div>

