<!-- Customer Info fragment -->
<div id="customer-info" hx-swap-oob="true">

<div x-data x-init='
Alpine.store("eventFilters").activism = {{ customer.likes_activism | tojson }};
Alpine.store("eventFilters").lectures  = {{ customer.likes_lectures | tojson }};
Alpine.store("eventFilters").parties  = {{ customer.likes_parties | tojson }};
Alpine.store("eventFilters").politics = {{ customer.likes_politics | tojson }};
    if (Alpine.store("customer").id !== {{ customer.id | tojson }}) {
        Alpine.store("customer").comment = {{ customer.comment | tojson | safe }};
        Alpine.store("customer").id = {{ customer.id | tojson | safe }};
    }
        '>
</div>

    <script>
        document.addEventListener('alpine:init', () => {
            // Initialize store if it doesn't exist
            if (!Alpine.store('customer')) {
                Alpine.store('customer', { comment: "" });
            }
            Alpine.store('customer').comment = {{ customer.comment | tojson }};
        });    
        </script>

    
    <div class="mb-2"><strong>User ID:</strong> {{ customer.customer_id }}</div>

    {% if customer.email %}
    <div class="mb-2"><strong>Email:</strong> {{ customer.email }}</div>
    {% endif %}

    {% if customer.phone %}
    <div class="mb-2"><strong>Phone:</strong> {{ customer.phone }}</div>
    {% endif %}

    {% if customer.location %}
    <div class="mb-2"><strong>Location:</strong> {{ customer.location }}</div>
    {% endif %}

    {% if customer.sub_caller %}
    <div class="mb-2"><strong>Sub Caller:</strong> {{ customer.sub_caller }}</div>
    {% endif %}

    {% if customer.personality_type is not none %}
    <div class="mb-2"><strong>Personality Type:</strong> {{ customer.personality_type }}</div>
    {% endif %}

    {% if customer.contributes is not none %}
    <div class="mb-2"><strong>Contributes:</strong> {{ customer.contributes }}</div>
    {% endif %}

    {% if customer.caller is not none %}
    <div class="mb-2"><strong>Caller:</strong> {{ customer.caller }}</div>
    {% endif %}

    {% if customer.categories %}
    <div class="mb-2"><strong>Categories:</strong> {{ customer.categories | join(', ') }}</div>
    {% endif %}

    {% if customer.tags %}
    <div class="mb-2"><strong>Tags:</strong> {{ customer.tags }}</div>
    {% endif %}

</div>

<!-- Customer Calls fragment -->
<div id="calls" hx-swap-oob="true">

    {% for call in calls %}
    <div class="p-2 border-bottom cursor-pointer" :class="{
                'bg-success bg-opacity-25 fw-bold text-success': $store.call.id === {{ call.id }},
                'bg-white fw-normal text-dark':  $store.call.id !== {{ call.id }}
            }" @click="$store.call.ids =  {{ call.id | tojson }}" hx-get="{{ url_for('call_details', call_id=call.id) }}"
        hx-trigger="click">

        {{ call.call_date.strftime('%y-%m-%d %H:%M') }}
    </div>
    {% endfor %}
</div>