

<h1>Customer</h1>
<p>Name: <span id="name"></span></p>
<p>Number: <span id="number"></span></p>

<!-- Call Button -->
  <a id="call_href" href="">
    <button style="padding: 10px 20px; font-size: 16px;">Call</button>
  </a>


  <a id="text_href" href="sms:123445?body=asasasas">
    <button style="padding: 10px 20px; font-size: 16px; margin-left: 10px;">Send SMS</button>
  </a>


<script>
    const name = document.getElementById("name");
    const number = document.getElementById("number");
    const call_href = document.getElementById("call_href");
    const ws = new WebSocket(`wss://${location.host}/ws/`);

    ws.onmessage = (event) => {
        const data = JSON.parse(event.data);
        name.textContent = data.name;
        number.textContent = data.number;
        call_href.href = "tel:"+data.number;
        text_href.href = "sms:"+data.number+"?body"+"Hej!";
    };

</script>
</body>
</html>