<h1 class="text-xl font-bold mb-6">Adminfunktioner</h1>
<BR>    


<!-- Fast-access button -->
<button 
    hx-post="/admin/script"
    hx-trigger="click"
    hx-vals='{"script_name": "stats", "args": "--chart calls_over_time"}'
    hx-target="#admin_content"
    hx-swap="innerHTML"
    class="px-3 py-1 border rounded bg-blue-100 hover:bg-blue-200"
>
    Visa alla ringares samtal över tid
</button>
<button 
    hx-post="/admin/script"
    hx-trigger="click"
    hx-vals='{"script_name": "stats", "args": "--chart caller_performance"}'
    hx-target="#admin_content"
    hx-swap="innerHTML"
    class="px-3 py-1 border rounded bg-blue-100 hover:bg-blue-200"
>
    Visa alla ringares resultat
</button>
<button 
    hx-post="/admin/script"
    hx-trigger="click"
    hx-vals='{"script_name": "stats", "args": "--chart event_participation"}'
    hx-target="#admin_content"
    hx-swap="innerHTML"
    class="px-3 py-1 border rounded bg-blue-100 hover:bg-blue-200"
>
    Visa alla event-resultat
</button>

{% set yesterday = (now() - timedelta(days=1)).strftime('%Y-%m-%d') %}
{% set tomorow = (now() + timedelta(days=1)).strftime('%Y-%m-%d') %}
{% set today = now().strftime('%Y-%m-%d') %}

<button 
    hx-post="/admin/script"
    hx-trigger="click"
    hx-vals='{"script_name": "stats", "args": "--chart caller_performance --from {{ today }} --to {{ tomorow }}"}'
    hx-target="#admin_content"
    hx-swap="innerHTML"
    class="px-3 py-1 border rounded bg-blue-100 hover:bg-blue-200"
>
    Visa alla ringares resultat idag
</button>


<br/>

<br/>
<br/>
    
<button class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200" hx-target="#admin_content" hx-get="{{ url_for('admin_script') }}">Script</button>
<button class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200" hx-target="#admin_content" hx-get="{{ url_for('admin_import') }}">Import</button>
<button class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200" hx-target="#admin_content" hx-get="{{ url_for('admin_data') }}">Data</button>
