<div x-init="$store.modal.title = '{{ "Customer" | t }}: {{ customer.first_name }} {{ customer.last_name }}'"></div> 
<div x-init="$store.modal.submit = '{{ "Save" | t }}'"></div> 

<form
    hx-post="{{ url_for('upsert_customer') }}"
    hx-target="#customer-list"
    hx-validate="true"
    hx-on:submit="if (!this.reportValidity()) { event.preventDefault(); return false; }" 
    hx-swap="innerHTML"
    hx-ext="json-enc"
    hx-headers='{"Content-Type": "application/json"}'
    x-init="
        $el.addEventListener('htmx:afterRequest', (event) => {
            if (event.detail.xhr.status === 200) {
                $store.modal.open = false;
            } else if (event.detail.xhr.status >= 400) {
                showPopup(event);
            }
        })
    "
>

    {% if customer.id %}
    <!-- ID -->
    <div class="mb-2 hidden">
        <label class="block font-semibold">{{ "ID" | t }}</label>
        <input type="text" name="id" value="{{ customer.id }}" class="border p-1 w-full"/>
    </div>
    {% endif %}

    <!-- First Name -->
    <div class="mb-2">
        <label class="block font-semibold">{{ "First Name" | t }}</label>
        <input type="text" name="first_name" value="{{ customer.first_name or '' }}" class="border p-1 w-full"/>
    </div>

    <!-- Last Name -->
    <div class="mb-2">
        <label class="block font-semibold">{{ "Last Name" | t }}</label>
        <input type="text" name="last_name" value="{{ customer.last_name or '' }}" class="border p-1 w-full"/>
    </div>


    <!-- Code Name -->
    <div class="mb-2">
        <label class="inline-flex items-center">
            <input type="hidden" name="code_name" value="false">
            <input type="checkbox" name="code_name" value="1" {% if customer.code_name %}checked{% endif %} class="mr-2"/>
            {{ "Code Name" | t }}
        </label>
    </div>

    <!-- Email -->
    <div class="mb-2">
        <label class="block font-semibold">{{ "Email" | t }}</label>
        <input type="email" name="email" value="{{ customer.email or '' }}" class="border p-1 w-full"/>
    </div>

    <!-- Phone -->
    <div class="mb-2">
        <label class="block font-semibold">{{ "Phone" | t }}</label>
        <input type="text" name="phone" value="{{ customer.phone or '' }}" class="border p-1 w-full"/>
    </div>

<div class="mb-2 tagify-wrapper"
     x-data
     data-object-type="location">
    <label class="block font-semibold">{{ "Location" | t }}</label>
    <input id="no-tag-input" name="location" value="{{ customer.location or ' ' }}" class="border p-1 w-full"/>
</div>


    <!-- Contributes -->
    <div class="mb-2">
        <label class="block font-semibold">{{ "Contributes" | t }}</label>
        <select name="contributes" class="border p-1 w-full">
            <option value="" {% if customer.contributes is none %}selected{% endif %}>{{ "Select..." | t }}</option>
            <option value="1" {% if customer.contributes == 1 %}selected{% endif %}>{{ "No contributions" | t }}</option>
            <option value="2" {% if customer.contributes == 2 %}selected{% endif %}>{{ "Gives Donation" | t }}</option>
            <option value="6" {% if customer.contributes == 6 %}selected{% endif %}>{{ "Subscriber" | t }}</option>
            <option value="3" {% if customer.contributes == 3 %}selected{% endif %}>{{ "Silver" | t }}</option>
            <option value="4" {% if customer.contributes == 4 %}selected{% endif %}>{{ "Gold" | t }}</option>
            <option value="5" {% if customer.contributes == 5 %}selected{% endif %}>{{ "Platinum" | t }}</option>
        </select>
    </div>

    <!-- Caller -->
    <div class="mb-2">
        <label class="block font-semibold">{{ "Caller" | t }}</label>
        <select name="caller_id" class="border p-1 w-full">
            <option value="" {% if customer.caller is none %}selected{% endif %}>{{ "Select..." | t }}</option>
            {% for caller in callers %}
              <option value="{{ caller.id }}" {% if customer.caller_id == caller.id %}selected{% endif %}>{{ caller.name }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Comment -->
    <div class="mb-2">
        <label class="block font-semibold">{{ "Comment" | t }}</label>
        <textarea name="comment" class="border p-1 w-full">{{ customer.comment or '' }}</textarea>
    </div>

    <!-- Sub Caller -->
    <div class="mb-2">
        <label class="block font-semibold">{{ "Sub Caller" | t }}</label>
        <input type="text" name="sub_caller" value="{{ customer.sub_caller or '' }}" class="border p-1 w-full"/>
    </div>

    <!-- Organisations -->
    <div class="mb-2">
        <label class="block font-semibold">{{ "Organisations" | t }}</label>
        <select name="organisations" multiple class="border p-1 w-full">
            {% for org in organisations %}
                <option value="{{ org.id }}"
                    {% if org.id|string in customer.organisations %}selected{% endif %}>
                    {{ org.name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <!-- Categories -->
    <div class="mb-2">
        <label class="block font-semibold">{{ "Categories" | t }}</label>
        <select name="categories" multiple class="border p-1 w-full" style="height:300px">
          {% for cid, cat in categories.items() %}
            <optgroup label="{{ cat.name }}">
              {% for iid, item in cat.get('items', {}).items() %}
                <option value="{{ iid }}" {% if iid in customer.categories %}selected{% endif %}>
                  {{ item }}
                </option>
              {% endfor %}
            </optgroup>
          {% endfor %}
        </select>
    </div>

<!-- Personality Type -->
<div class="mb-2">
    <label class="block font-semibold">{{ "Personality Type" | t }}</label>
    <select name="personality_type" class="border p-1 w-full">
        <option value="" {% if customer.personality_type is none %}selected{% endif %}>{{ "Select..." | t }}</option>
        {% for p in personalities %}
            <option value="{{ p.id }}" {% if customer.personality_type == p.id %}selected{% endif %}>
                {{ p.name }}
            </option>
        {% endfor %}
    </select>
</div>

 <!-- Boolean Preferences -->
<div class="mb-2">
    <label class="inline-flex items-center">
        <input type="hidden" name="controlled" value="false">
        <input type="checkbox" name="controlled" value="true" {% if customer.controlled %}checked{% endif %} class="mr-2"/>
        {{ "Controlled" | t }}
    </label>
</div>

<div class="mb-2">
    <label class="inline-flex items-center">
        <input type="hidden" name="filter_a" value="false">
        <input type="checkbox" name="filter_a" value="true" {% if customer.filter_a %}checked{% endif %} class="mr-2"/>
        {{ "Likes Parties" | t }}
    </label>
</div>

<div class="mb-2">
    <label class="inline-flex items-center">
        <input type="hidden" name="filter_b" value="false">
        <input type="checkbox" name="filter_b" value="true" {% if customer.filter_b %}checked{% endif %} class="mr-2"/>
        {{ "Likes AW" | t }}
    </label>
</div>

<div class="mb-2">
    <label class="inline-flex items-center">
        <input type="hidden" name="filter_c" value="false">
        <input type="checkbox" name="filter_c" value="true" {% if customer.filter_c %}checked{% endif %} class="mr-2"/>
        {{ "Likes Lectures" | t }}
    </label>
</div>

<div class="mb-2">
    <label class="inline-flex items-center">
        <input type="hidden" name="filter_d" value="false">
        <input type="checkbox" name="filter_d" value="true" {% if customer.filter_d %}checked{% endif %} class="mr-2"/>
        {{ "Likes Activism" | t }}
    </label>
</div>

<div class="mb-2">
    <label class="inline-flex items-center">
        <input type="hidden" name="filter_e" value="false">
        <input type="checkbox" name="filter_e" value="true" {% if customer.filter_e %}checked{% endif %} class="mr-2"/>
        {{ "Likes Conferences" | t }}
    </label>
</div>

<div class="mb-2">
    <label class="inline-flex items-center">
        <input type="hidden" name="filter_f" value="false">
        <input type="checkbox" name="filter_f" value="true" {% if customer.filter_f %}checked{% endif %} class="mr-2"/>
        {{ "Likes Subscription" | t }}
    </label>
</div>

<div class="mb-2">
    <label class="inline-flex items-center">
        <input type="hidden" name="filter_g" value="false">
        <input type="checkbox" name="filter_g" value="true" {% if customer.filter_g %}checked{% endif %} class="mr-2"/>
        {{ "Likes Membership" | t }}
    </label>
</div>


<div class="mb-2 tagify-wrapper"
     x-data
     x-init="initTagify($el)"
     data-object-type="tags">
    <label class="block font-semibold">{{ "Tags (comma separated)" | t }}</label>
    <input type="text" name="tags" value="{{ customer.tags | default('') }}" class="border p-1 w-full"/>
</div>

    <!-- User ID -->
    <div class="mb-2">
        <label class="block font-semibold">{{ "User ID" | t }}</label>
        <input type="text" name="user_id" value="{{ customer.user_id or '' }}" class="border p-1 w-full"/>
    </div>


<!-- Extra 
<div class="mb-2">
    <label class="block font-semibold">{{ 'Customer Name' | t }}</label>
    <input type="text" name="extra.customer_name" value="{{ customer.extra.customer_name or '' }}" class="border p-1 w-full"/>
</div>
-->

<!--
    <div class="flex justify-end mt-4">
        <button type="submit" class="px-3 py-1 bg-blue-500 text-white rounded">{{ "Save" | t }}</button>
    </div>
-->
</form>

<script>

    var input = document.querySelector('#no-tag-input'),
    tagify = new Tagify(input, {

whitelist:[
  "Stockholm",
  "Stockholm - Upplands Väsby",
  "Stockholm - Vallentuna",
  "Stockholm - Österåker",
  "Stockholm - Värmdö",
  "Stockholm - Järfälla",
  "Stockholm - Ekerö",
  "Stockholm - Huddinge",
  "Stockholm - Botkyrka",
  "Stockholm - Salem",
  "Stockholm - Haninge",
  "Stockholm - Tyresö",
  "Stockholm - Upplands-Bro",
  "Stockholm - Nykvarn",
  "Stockholm - Täby",
  "Stockholm - Danderyd",
  "Stockholm - Sollentuna",
  "Stockholm - Stockholm",
  "Stockholm - Sundbyberg",
  "Stockholm - Solna",
  "Stockholm - Lidingö",
  "Stockholm - Vaxholm",
  "Stockholm - Norrtälje",
  "Stockholm - Sigtuna",
  "Stockholm - Nacka",
  "Stockholm - Södertälje",

  "Uppsala",
  "Uppsala - Enköping",
  "Uppsala - Heby",
  "Uppsala - Håbo",
  "Uppsala - Knivsta",
  "Uppsala - Tierp",
  "Uppsala - Uppsala",
  "Uppsala - Älvkarleby",
  "Uppsala - Östhammar",

  "Södermanland",
  "Södermanland - Eskilstuna",
  "Södermanland - Flens",
  "Södermanland - Gnesta",
  "Södermanland - Katrineholm",
  "Södermanland - Nyköping",
  "Södermanland - Oxelösund",
  "Södermanland - Strängnäs",
  "Södermanland - Trosa",

  "Östergötland",
  "Östergötland - Boxholm",
  "Östergötland - Finspång",
  "Östergötland - Kinda",
  "Östergötland - Linköping",
  "Östergötland - Mjölby",
  "Östergötland - Motala",
  "Östergötland - Norrköping",
  "Östergötland - Söderköping",
  "Östergötland - Vadstena",
  "Östergötland - Valdemarsvik",
  "Östergötland - Ydre",
  "Östergötland - Åtvidaberg",

  "Jönköping",
  "Jönköping - Aneby",
  "Jönköping - Eksjö",
  "Jönköping - Gislaved",
  "Jönköping - Gnosjö",
  "Jönköping - Habo",
  "Jönköping - Jönköping",
  "Jönköping - Mullsjö",
  "Jönköping - Nässjö",
  "Jönköping - Sävsjö",
  "Jönköping - Tranås",
  "Jönköping - Vetlanda",
  "Jönköping - Vaggeryd",
  "Jönköping - Värnamo",

  "Kronoberg",
  "Kronoberg - Alvesta",
  "Kronoberg - Lessebo",
  "Kronoberg - Ljungby",
  "Kronoberg - Markaryd",
  "Kronoberg - Tingsryd",
  "Kronoberg - Uppvidinge",
  "Kronoberg - Växjö",
  "Kronoberg - Älmhult",

  "Kalmar",
  "Kalmar - Borgholm",
  "Kalmar - Emmaboda",
  "Kalmar - Hultsfred",
  "Kalmar - Högsby",
  "Kalmar - Kalmar",
  "Kalmar - Mönsterås",
  "Kalmar - Mörbylånga",
  "Kalmar - Nybro",
  "Kalmar - Oskarshamn",
  "Kalmar - Torsås",
  "Kalmar - Vimmerby",
  "Kalmar - Västervik",

  "Gotland",
  "Gotland - Gotland",

  "Blekinge",
  "Blekinge - Karlshamn",
  "Blekinge - Karlskrona",
  "Blekinge - Olofström",
  "Blekinge - Ronneby",
  "Blekinge - Sölvesborg",

  "Skåne",
  "Skåne - Bjuv",
  "Skåne - Bromölla",
  "Skåne - Burlöv",
  "Skåne - Båstad",
  "Skåne - Eslöv",
  "Skåne - Helsingborg",
  "Skåne - Hässleholm",
  "Skåne - Höganäs",
  "Skåne - Hörby",
  "Skåne - Höör",
  "Skåne - Klippan",
  "Skåne - Kristianstad",
  "Skåne - Kävlinge",
  "Skåne - Landskrona",
  "Skåne - Lomma",
  "Skåne - Lund",
  "Skåne - Malmö",
  "Skåne - Osby",
  "Skåne - Perstorp",
  "Skåne - Simrishamn",
  "Skåne - Sjöbo",
  "Skåne - Skurup",
  "Skåne - Staffanstorp",
  "Skåne - Svalöv",
  "Skåne - Svedala",
  "Skåne - Tomelilla",
  "Skåne - Trelleborg",
  "Skåne - Vellinge",
  "Skåne - Ystad",
  "Skåne - Åstorp",
  "Skåne - Ängelholm",
  "Skåne - Örkelljunga",
  "Skåne - Östra Göinge",

  "Halland",
  "Halland - Falkenberg",
  "Halland - Halmstad",
  "Halland - Hylte",
  "Halland - Kungsbacka",
  "Halland - Laholm",
  "Halland - Varberg",

  "Västra Götaland",
  "Västra Götaland - Ale",
  "Västra Götaland - Alingsås",
  "Västra Götaland - Bengtsfors",
  "Västra Götaland - Bollebygd",
  "Västra Götaland - Borås",
  "Västra Götaland - Dals-Ed",
  "Västra Götaland - Essunga",
  "Västra Götaland - Falköping",
  "Västra Götaland - Färgelanda",
  "Västra Götaland - Grästorp",
  "Västra Götaland - Gullspång",
  "Västra Götaland - Göteborg",
  "Västra Götaland - Herrljunga",
  "Västra Götaland - Hjo",
  "Västra Götaland - Härryda",
  "Västra Götaland - Karlsborg",
  "Västra Götaland - Kungälv",
  "Västra Götaland - Lerum",
  "Västra Götaland - Lidköping",
  "Västra Götaland - Lilla Edet",
  "Västra Götaland - Lysekil",
  "Västra Götaland - Mariestad",
  "Västra Götaland - Mark",
  "Västra Götaland - Mellerud",
  "Västra Götaland - Munkedal",
  "Västra Götaland - Mölndal",
  "Västra Götaland - Orust",
  "Västra Götaland - Partille",
  "Västra Götaland - Skara",
  "Västra Götaland - Skövde",
  "Västra Götaland - Sotenäs",
  "Västra Götaland - Stenungsund",
  "Västra Götaland - Strömstad",
  "Västra Götaland - Svenljunga",
  "Västra Götaland - Tanum",
  "Västra Götaland - Tibro",
  "Västra Götaland - Tidaholm",
  "Västra Götaland - Tjörn",
  "Västra Götaland - Töreboda",
  "Västra Götaland - Tranemo",
  "Västra Götaland - Trollhättan",
  "Västra Götaland - Uddevalla",
  "Västra Götaland - Ulricehamn",
  "Västra Götaland - Vara",
  "Västra Götaland - Vårgårda",
  "Västra Götaland - Vänersborg",
  "Västra Götaland - Åmål",
  "Västra Götaland - Öckerö",

  "Värmland",
  "Värmland - Arvika",
  "Värmland - Eda",
  "Värmland - Filipstad",
  "Värmland - Forshaga",
  "Värmland - Grums",
  "Värmland - Hagfors",
  "Värmland - Hammarö",
  "Värmland - Karlstad",
  "Värmland - Kil",
  "Värmland - Kristinehamn",
  "Värmland - Munkfors",
  "Värmland - Storfors",
  "Värmland - Sunne",
  "Värmland - Säffle",
  "Värmland - Torsby",
  "Värmland - Årjäng",

  "Örebro",
  "Örebro - Askersund",
  "Örebro - Degerfors",
  "Örebro - Hallsberg",
  "Örebro - Hällefors",
  "Örebro - Karlskoga",
  "Örebro - Kumla",
  "Örebro - Laxå",
  "Örebro - Lekeberg",
  "Örebro - Lindesberg",
  "Örebro - Ljusnarsberg",
  "Örebro - Nora",
  "Örebro - Örebro",

  "Västmanland",
  "Västmanland - Arboga",
  "Västmanland - Fagersta",
  "Västmanland - Hallstahammar",
  "Västmanland - Kungsör",
  "Västmanland - Köping",
  "Västmanland - Norberg",
  "Västmanland - Sala",
  "Västmanland - Skinnskatteberg",
  "Västmanland - Surahammar",
  "Västmanland - Västerås",

  "Dalarna",
  "Dalarna - Avesta",
  "Dalarna - Borlänge",
  "Dalarna - Falun",
  "Dalarna - Gagnef",
  "Dalarna - Hedemora",
  "Dalarna - Leksand",
  "Dalarna - Ludvika",
  "Dalarna - Malung-Sälen",
  "Dalarna - Mora",
  "Dalarna - Orsa",
  "Dalarna - Rättvik",
  "Dalarna - Smedjebacken",
  "Dalarna - Säter",
  "Dalarna - Vansbro",
  "Dalarna - Älvdalen",

  "Gävleborg",
  "Gävleborg - Bollnäs",
  "Gävleborg - Gävle",
  "Gävleborg - Hofors",
  "Gävleborg - Hudiksvall",
  "Gävleborg - Ljusdal",
  "Gävleborg - Nordanstig",
  "Gävleborg - Ockelbo",
  "Gävleborg - Ovanåker",
  "Gävleborg - Sandviken",
  "Gävleborg - Söderhamn",

  "Västernorrland",
  "Västernorrland - Härnösand",
  "Västernorrland - Kramfors",
  "Västernorrland - Sollefteå",
  "Västernorrland - Sundsvall",
  "Västernorrland - Timrå",
  "Västernorrland - Ånge",
  "Västernorrland - Örnsköldsvik",

  "Jämtland",
  "Jämtland - Berg",
  "Jämtland - Bräcke",
  "Jämtland - Härjedalen",
  "Jämtland - Krokom",
  "Jämtland - Ragunda",
  "Jämtland - Strömsund",
  "Jämtland - Åre",
  "Jämtland - Östersund",

  "Västerbotten",
  "Västerbotten - Bjurholm",
  "Västerbotten - Dorotea",
  "Västerbotten - Lycksele",
  "Västerbotten - Malå",
  "Västerbotten - Nordmaling",
  "Västerbotten - Norsjö",
  "Västerbotten - Robertsfors",
  "Västerbotten - Skellefteå",
  "Västerbotten - Sorsele",
  "Västerbotten - Storuman",
  "Västerbotten - Umeå",
  "Västerbotten - Vilhelmina",
  "Västerbotten - Vindeln",
  "Västerbotten - Vännäs",
  "Västerbotten - Åsele",

  "Norrbotten",
  "Norrbotten - Arjeplog",
  "Norrbotten - Arvidsjaur",
  "Norrbotten - Boden",
  "Norrbotten - Gällivare",
  "Norrbotten - Haparanda",
  "Norrbotten - Jokkmokk",
  "Norrbotten - Kalix",
  "Norrbotten - Kiruna",
  "Norrbotten - Luleå",
  "Norrbotten - Pajala",
  "Norrbotten - Piteå",
  "Norrbotten - Älvsbyn",
  "Norrbotten - Överkalix",
  "Norrbotten - Övertorneå"
],



        enforceWhitelist: true,
        mode : "select",
            })
</script>