<div x-init="$store.modal.title = '{{ customer.first_name }} {{ customer.last_name }}'"></div> 
<div x-init="$store.modal.submit = ''"></div> 

    <div class="mt-4" id="customer-info">
        


{% if customer.first_name %}
<div class="mb-1"><strong>{{ "Name" | t }}:</strong> {{ customer.first_name }} {{ customer.last_name }}</div>
{% endif %}

{% if customer.email %}
<div class="mb-1"><strong>{{ "Email" | t }}:</strong> {{ customer.email }}</div>
{% endif %}

{% if customer.comment %}
<div class="mb-1"><strong>{{ "Comment" | t }}:</strong> {{ customer.comment }}</div>
{% endif %}

{% if customer.phone %}
<div class="mb-1"><strong>{{ "Phone" | t }}:</strong> {{ customer.phone }}</div>
{% endif %}

{% if customer.location %}
<div class="mb-1"><strong>{{ "Location" | t }}:</strong> {{ customer.location }}</div>
{% endif %}

{% if customer.contributes %}
<div class="mb-1"><strong>{{ "Contributes" | t }}:</strong> 
{% if customer.contributes == 1 %}{{ "No contributions" | t }} {% endif %}
{% if customer.contributes == 2 %}{{ "Gives Donations" | t }} {% endif %}
{% if customer.contributes == 6 %}{{ "Subscriber" | t }} {% endif %}
{% if customer.contributes == 3 %}{{ "Silver" | t }}{% endif %}
{% if customer.contributes == 4 %}{{ "Gold" | t }}{% endif %}
{% if customer.contributes == 5 %}{{ "Platinum" | t }}{% endif %}
</div>
{% endif %}



{% if customer.caller is not none %}
<div class="mb-1"><strong>{{ "Caller" | t }}:</strong> {{ customer.caller.name }}</div>
{% endif %}

{% if customer.sub_caller %}
<div class="mb-1"><strong>{{ "Sub Caller" | t }}:</strong> {{ customer.sub_caller }}</div>
{% endif %}

{% if customer.personality_type is not none %}
  <div class="mb-1">
    <strong>{{ "Personality Type" | t }}:</strong>
    {{ personalities_map[customer.personality_type].name }}
  </div>
{% endif %}


{% if customer.categories %}
  <div class="mb-1">
    <strong>{{ "Categories" | t }}:</strong>
    {# Build a list of item names using the lookup #}
    {% set item_names = [] %}
    {% for iid in customer.categories %}
      {% if iid in categories_map %}
        {% set _ = item_names.append(categories_map[iid].name) %}
      {% endif %}
    {% endfor %}
    {{ item_names | join(', ') }}
  </div>
{% endif %}

{% if customer.organisations %}

  <div class="mb-1">
    <strong>{{ "Organisations" | t }}:</strong>
{% set org_names = [] %}
{% for oid in customer.organisations %}
  {% set int_oid = oid | int %}
  {% if int_oid in organisations_map %}
    {% set _ = org_names.append(organisations_map[int_oid]) %}
  {% endif %}
{% endfor %}
{{ org_names | join(', ') }}
  </div>
{% endif %}

{% if customer.tags %}
<div class="mb-1"><strong>{{ "Tags" | t }}:</strong> {{ customer.tags or ''}}</div>
{% endif %}

{% if customer.user_id %}
<div class="mb-1"><strong>{{ "User ID" | t }}:</strong> {{ customer.user_id }}</div>
{% endif %}

<br/>    
<br/>    

<div x-data="{ active: '{{ status_filter or "all" }}' }" class="flex flex-wrap gap-2 mb-4">
    <button 
        hx-get="{{ url_for('customer_detail', customer_id=customer.id) }}?list=short&status_filter=2"
        hx-target="#customer-info"
        class="px-3 py-1 border rounded hover:bg-gray-200"
        :class="{'bg-gray-100': {{ status_filter }} === 2}" >
        {{ "Not interested" | t }}
        <span>{{ totals.s2 }}</span>
    </button>

    <button 
        hx-get="{{ url_for('customer_detail', customer_id=customer.id) }}?list=short&status_filter=1"
        hx-target="#customer-info"
        class="px-3 py-1 border rounded hover:bg-gray-200"
        :class="{'bg-gray-100': {{ status_filter }} === 1}" >
        {{ "Interested" | t }}
        <span >{{ totals.s1 }}</span>
    </button>

    <button 
        hx-get="{{ url_for('customer_detail', customer_id=customer.id) }}?list=short&status_filter=3"
        hx-target="#customer-info"
        class="px-3 py-1 border rounded hover:bg-gray-200"
        :class="{'bg-gray-100': {{ status_filter }} === 3}" >
        {{ "Comming" | t }}
        <span>{{ totals.s3 }}</span>
    </button>

    <button 
        hx-get="{{ url_for('customer_detail', customer_id=customer.id) }}?list=short&status_filter=4"
        hx-target="#customer-info"
        class="px-3 py-1 border rounded hover:bg-gray-200"
        :class="{'bg-gray-100': {{ status_filter }} === 4}" >
        {{ "Paid" | t }}
        <span>{{ totals.s4 }}</span>
    </button>

        <button 
        hx-get="{{ url_for('customer_detail', customer_id=customer.id) }}?list=short&status_filter=6"
        hx-target="#customer-info"
        class="px-3 py-1 border rounded hover:bg-gray-200"
        :class="{'bg-gray-100': {{ status_filter }} === 6}" >
        {{ "Pay at the door" | t }}
        <span>{{ totals.s6 }}</span>
    </button>

    <button 
        hx-get="{{ url_for('customer_detail', customer_id=customer.id) }}?list=short&status_filter=5"
        hx-target="#customer-info"
        class="px-3 py-1 border rounded hover:bg-gray-200"
        :class="{'bg-gray-100': {{ status_filter }} === 5}" >
        {{ "Attended" | t }}
        <span>{{ totals.s5 }}</span>
    </button>

        <button 
        hx-get="{{ url_for('customer_detail', customer_id=customer.id) }}?list=short&status_filter=7"
        hx-target="#customer-info"
        class="px-3 py-1 border rounded hover:bg-gray-200"
        :class="{'bg-gray-100': {{ status_filter }} === 7}" >
        {{ "Did not attend" | t }}
        <span>{{ totals.s7 }}</span>
    </button>

    <button 
        hx-get="{{ url_for('customer_detail', customer_id=customer.id) }}?list=short"
        hx-target="#customer-info"
        class="px-3 py-1 border rounded hover:bg-gray-200"
        :class="{'bg-gray-100': {{ status_filter }} === 0}" >
        {{ "All" | t }}
        <span>
            {{ totals.all }}
        </span>
    </button>

</div>

<table class="w-full border border-gray-300 mt-2 table-fixed">
  <thead class="bg-gray-100">
    <tr>
      <!-- Name column: auto width -->
      <th class="px-3 py-2 border text-left whitespace-nowrap w-[50%]">
        {{ "Name" | t }}
      </th>

      <!-- Other columns: equal width -->
      <th class="px-3 py-1 border text-center w-[10%]">
        {{ "Not interested" | t }}
      </th>
      <th class="px-3 py-1 border text-center w-[10%]">
        {{ "Interested" | t }}
      </th>
      <th class="px-3 py-1 border text-center w-[10%]">
        {{ "Comming" | t }}
      </th>
      <th class="px-3 py-1 border text-center w-[10%]">
        {{ "Paid" | t }}
      </th>
      <th class="px-3 py-1 border text-center w-[10%]">
        {{ "Pay at the door" | t }}
      </th>
      <th class="px-3 py-1 border text-center w-[10%]">
        {{ "Attended" | t }}
      </th>
      <th class="px-3 py-1 border text-center w-[10%]">
        {{ "Did not attend" | t }}
      </th>
    </tr>
  </thead>
    <tbody>
        {% for ec in product_customers %} 
        <tr class="hover:bg-gray-100">
            <td class="px-3 py-2 border">{{ ec.product.name }} {{ ec.product.start_date.strftime('%Y-%m-%d') }}</td>
            <td class="px-3 py-1 border text-green-600 font-bold text-center">{% if ec.status == 2 %}✔{% endif %}</td>
            <td class="px-3 py-1 border text-green-600 font-bold text-center">{% if ec.status == 1 %}✔{% endif %}</td>
            <td class="px-3 py-1 border text-green-600 font-bold text-center">{% if ec.status == 3 %}✔{% endif %}</td>
            <td class="px-3 py-1 border text-green-600 font-bold text-center">{% if ec.status == 4 %}✔{% endif %}</td>
            <td class="px-3 py-1 border text-green-600 font-bold text-center">{% if ec.status == 6 %}✔{% endif %}</td>
            <td class="px-3 py-1 border text-green-600 font-bold text-center">{% if ec.status == 5 %}✔{% endif %}</td>
            <td class="px-3 py-1 border text-green-600 font-bold text-center">{% if ec.status == 7 %}✔{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    </div>
