

<div id="customer-container">
    <div id="customer-list"
        x-data="{
            selected: JSON.parse(localStorage.getItem('selectedCustomers') || '{}'),
            showSelect: JSON.parse(localStorage.getItem('showSelect') || 'true'),
            toggle(id) {
                this.selected[id] = !this.selected[id];
                localStorage.setItem('selectedCustomers', JSON.stringify(this.selected));
            },
            toggleSelect() {
                this.showSelect = !this.showSelect;
                localStorage.setItem('showSelect', JSON.stringify(this.showSelect));
            },
            getSelectedIds() {
                return Object.keys(this.selected)
                            .filter(id => this.selected[id])
                            .map(id => parseInt(id));
            }
        }"
    >

        <table class="table-auto w-full border">
            <thead>
                <tr>
                    <th class="px-2 py-1 border">{{ "ID" | t }}</th>
                    <th class="px-2 py-1 border">{{ "Name" | t }}</th>
                    <th class="px-2 py-1 border">{{ "Email" | t }}</th>
                    <th class="px-2 py-1 border">{{ "Command" | t }}</th>
                    <th class="px-2 py-1 border" x-show="showSelect">{{ "Select" | t }}</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr hx-get="{{ url_for('customer_detail', customer_id=customer.id) }}?list=short"
                    hx-target="#customer-info"
                    hx-trigger="click"
                    class="cursor-pointer hover:bg-gray-100">

                    <td class="px-2 py-1 border">{{ customer.id }}</td>
                    <td class="px-2 py-1 border">{{ customer.first_name }} {{ customer.last_name }}</td>
                    <td class="px-2 py-1 border">{{ customer.email }}</td>

                    <td class="px-2 py-1 border text-center" 
                        @click.stop
                        >

                        <button 
                            hx-get="{{ url_for('customer_detail', customer_id=customer.id) }}"
                            hx-target="#modal-container"
                            hx-swap="innerHTML"
                            @click="$store.modal.open = true"
                        >
                            {{ "Edit" | t }}
                        </button>                
                        <button 
                            hx-post="{{ url_for('delete_customer', customer_id=customer.id) }}"
                            hx-on="htmx:afterRequest: 
                                showPopup(event);
                                htmx.ajax('GET', '{{ url_for('customers_list') }}', {target:'#customer-container'}); "
                            hx-trigger="confirmed"
                            x-confirm="Are you sure you want to delete this customer?"
                        >
                                                    {{ "Delete" | t }}
                        </button>   
                    </td>

                    <td class="px-2 py-1 border text-center" 
                        x-show="showSelect" 
                        @click.stop>
                        <input type="checkbox"
                            :checked="selected[{{ customer.id }}] || false"
                            @change="toggle({{ customer.id }})">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mt-2 flex gap-2">
            <button hx-get="{{ url_for('customer_detail', customer_id=0) }}"
                    hx-target="#modal-container"
                    @click="$store.modal.open = true"
                    class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                {{ "New Customer" | t }}
            </button>

            <button hx-get="{{ url_for('customer_filter') }}"
                    hx-target="#modal-container"
                    @click="$store.modal.open = true"
                    class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                {{ "Filter" | t }}
            </button>


            <button @click="toggleSelect()"
                    class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                    
                {{ "Toggle Select Column" | t }}
            </button>

        <button
                :hx-vals="JSON.stringify({ selected_ids: getSelectedIds() })"
                hx-post="/calls/dashboard"
                hx-ext="json-enc"
                hx-target="#calls_content"
                class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                {{ "Load Selected Customers" | t }}
            </button>

        </div>
        
    <div class="mt-4" id="customer-info"></div>
        
    </div>

</div>

