{% for customer in customers %}
<div 
    class="p-2 flex justify-between items-center cursor-pointer border-b"
    :class="{
        'bg-green-100 font-bold text-green-600': Alpine.store('customer').id === {{ customer.id }},
        'bg-white font-normal text-gray-900': Alpine.store('customer').id !== {{ customer.id }}
    }"
    @click="
        if (Alpine.store('customer').id != {{ customer.id }}) {
            Alpine.store('customer').id = {{ customer.id }};            
            $nextTick(() => htmx.trigger('#customer-calls', 'load-customer'));
            document.querySelector('#save-form').reset(); 
            document.getElementById('current_call').value = '';
            Alpine.store('call').id  =  '';
            disableCall();
            disableProduct();
            enableCustomer();
            removeHighlight();
            document.getElementById('status_value').value='';                    
        }
    "
    hx-swap="none"
>
    <span>{{ customer.first_name }} {{ customer.last_name }}</span>

    <span 
        class="ml-2 flex items-center justify-center w-5 h-5 cursor-pointer"
        hx-get="{{ url_for('customer_detail', customer_id=customer.id) }}"
        hx-target="#modal-container"
        hx-swap="innerHTML"
        @click.stop="$store.modal.open = true"
    >
        <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-500" width="15" height="15" fill="currentColor" viewBox="0 0 16 16">
            <path d="M12.146.854a.5.5 0 0 1 .708 0l2.292 2.292a.5.5 0 0 1 0 .708L4.207 14.793l-3 1a.5.5 0 0 1-.637-.637l1-3L12.146.854zM11.207 2L2 11.207V13h1.793L14 3.793 11.207 2z"/>
        </svg>
    </span>
</div>
{% endfor %}
