<input type="hidden" name="customer_id" x-model="Alpine.store('customer').id" id="customer-id">

<div id="customer-calls" hx-get="/calls/customer_data" hx-include="#customer-id" hx-trigger="load-customer"
  hx-swap="none">
</div>

<div class="container-fluid border" style="height: 85vh">

  <!-- Row 1: TopRow -->
  <div id="topRow" class="d-flex border-bottom" style="height:43vh;">
    <!-- Customers Column -->
    <div id="col1" class="border-end p-3 overflow-auto bg-light" style="flex:0 0 auto;">
      <div class="font-semibold">{{ "Customers" | t }}</div>
      <div id="calls-customer-list" class="overflow-auto mt-2" x-data>

        <!-- swap in customer_list.html -->
        {% include '/calls/customers_list.html' %}
      </div>
    </div>

    <!-- Customer Info Column -->
    <div id="col2" class="border-end p-3 overflow-auto bg-light" style="flex:0 0 auto;">
      <div class="font-semibold">{{ "Customer Info" | t }}</div>
      <div class="overflow-auto mt-2 p-2 border" style="background:bg-gray-100;">
        <div id="customer-details">
          <!--Swap in later-->
        </div>
      </div>
    </div>

    <!-- Products Column -->
    <div id="col3" class="border-end p-3 overflow-auto bg-light" style="flex:0 0 auto;">
      <div class="font-semibold">{{ "Products" | t }}</div>
      <div id="call-products" class="overflow-auto mt-2">
        <div id="calls-product-list">
          <!-- swap in products_list -->
          {% include '/calls/products_list.html' %}
        </div>
      </div>
    </div>

    <!-- Product Info Column -->
    <div id="col4" class="border-end p-3 overflow-auto bg-light" style="flex:0 0 auto;">
      <div class="font-semibold">{{ "Product Info" | t }}</div>
      <div id="product-details" class="overflow-auto mt-2 p-2 border"></div>
    </div>
  </div>

  <!-- Row 2: BottomRow -->
  <div id="bottomRow" class="d-flex" style="height:43vh;">
    <div id="col5" class="border-end p-3 overflow-auto bg-light" style="flex:0 0 auto;">
      {{ "Calls" | t }}
      <div class="overflow-auto mt-2 p-2 border">
        <div id="calls">
          {% for call_date in customer_calls %}
          <div class="p-1">{{ call_date | date() }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="col6" class="border-end p-3 overflow-auto bg-light" style="flex:0 0 auto;">
      {{ "Call Info" | t }}
      <div id="call-info" class="overflow-auto mt-2 border p-2">
        <div></div>
      </div>
    </div>
    <!-- Action Column -->
    <div id="col7" class="border-r p-3 overflow-auto bg-light" style="flex:0 0 auto;">

      <!-- Filters -->
      <div class="flex flex-wrap gap-3 p-2 mb-3 border rounded bg-light">
        <template x-for="(value, type) in Alpine.store('productFilters')" :key="type">
          <label class="inline-flex items-center space-x-1 form-check form-check-inline">
            <input type="checkbox" x-model="Alpine.store('productFilters')[type]"
              class="form-check-input auto-save customer-disable">

            <span x-text="{
          filter_a: '{{filters_map['filter_a']}}',
          filter_b: '{{filters_map['filter_b']}}',
          filter_c: '{{filters_map['filter_c']}}',
          filter_d: '{{filters_map['filter_d']}}',
          filter_e: '{{filters_map['filter_e']}}',
          filter_f: '{{filters_map['filter_f']}}',
          filter_g: '{{filters_map['filter_g']}}'
        }[type] || (type.charAt(0).toUpperCase() + type.slice(1))"></span>
          </label>
        </template>

        <label class="inline-flex items-center space-x-1 form-check form-check-inline">
          <input id="fix" type="checkbox" x-model="checked" @change="localStorage.setItem('fix', this.checked);"
            x-data="{ checked: JSON.parse(localStorage.getItem('fix')) || false }"
            class="form-check-input auto-save customer-disable">
          <span>{{ "Fix" | t }}</span>
        </label>
      </div>

      <!-- Save Form -->
      <form id="save-form" hx-post="{{ url_for('save_call') }}" hx-ext="json-enc" hx-swap="none" hx-trigger="submit"
        hx-on="htmx:afterRequest:
          document.getElementById('current_call').value = JSON.parse(event.detail.xhr.responseText).call_id;
          htmx.trigger('#customer-calls', 'load-customer')">

      <div 
          x-data="{ ready: false }"
          x-init="
              // Wait for Alpine + store to hydrate
              $nextTick(() => { ready = true })
          "
      >

      <input name="product_type_status" :value="$store.productCustomer.type_status" class="hidden">


      <div  class="flex flex-wrap gap-2">

        <!-- Product Status Options -->

        <div  class="flex flex-wrap gap-2 p-2 mb-3 border rounded bg-light" x-data>

            <input name="product_status" value="0" x-model="$store.productCustomer.status"
              class="hidden auto-save product-disable form-check-input" type="radio">

          <label class="_inline-flex items-center space-x-1 form-check form-check-inline">
            <input name="product_status" value="1" x-model="$store.productCustomer.status" disabled
              class="auto-save product-disable form-check-input" type="radio">
            <span>{{ "Interested" | t }}</span>
          </label>
          <label class="_inline-flex items-center space-x-1 form-check form-check-inline">
            <input name="product_status" value="2" x-model="$store.productCustomer.status" disabled
              class="auto-save product-disable form-check-input" type="radio">
            <span>{{ "Not interested" | t }}</span>
          </label>
          <label class="_inline-flex items-center space-x-1 form-check form-check-inline">
            <input name="product_status" value="3" x-model="$store.productCustomer.status" disabled
              class="auto-save product-disable form-check-input" type="radio">
            <span>{{ "Comming" | t }}</span>
          </label>

        </div>


<div class="flex flex-wrap gap-2 p-2 mb-3 border rounded bg-light" x-data="{ isTypeEnabled: false }"
     x-effect="isTypeEnabled = String($store.productCustomer.status) === '3'">         
          <!-- Load Product Specific optons -->


          {% for type_id, product in products_json.items() %}
          <div x-show="$store.product.type_id == '{{ type_id }}'">
              {% for item_id, item_name in product["items"].items() %}

            <input name="product_type_status-{{type_id}}" value="0" x-model="$store.productCustomer.type_status"
              class="hidden auto-save product-disable form-check-input" type="radio">

            <label class="_inline-flex items-center space-x-1 form-check form-check-inline">

              <input :disabled="!isTypeEnabled" name="product_type_status-{{type_id}}" type="radio" value="{{ item_id }}"
                class="auto-save product-disable form-check-input" x-model="$store.productCustomer.type_status"
                disabled>
              <span>{{ item_name }}</span>
            </label>
            {% endfor %}
          </div>
          {% endfor %}

    </div>
    </div>
    </div>
    <!-- Call Comment -->
    <label class="font-semibold mb-1 block w-full">{{ "Call Comment" | t }}</label>
    <textarea name="note" class="auto-save call-disable form-control mb-3 w-full p-2 border rounded shadow-sm" disabled
      rows="3"></textarea>

    <input type="hidden" name="status" id="status_value">

    <div class="flex flex-wrap gap-5 items-center">

    <div class="flex flex-wrap gap-2 items-center">

      <!-- Answer -->
      <button type="button" id="a" class="auto-save can-highlight customer-disable px-4 py-2 rounded
                 bg-green-600 text-white hover:bg-green-500 disabled:bg-green-800 disabled:opacity-100" disabled
        onclick="document.getElementById('status_value').value='1'; highlightButton(this);enableCall();">
        {{ "Answer" | t }}
      </button>

      <!-- No Answer -->
      <button type="button" class="auto-save can-highlight customer-disable px-4 py-2 rounded
                 bg-red-600 text-white hover:bg-red-500 disabled:bg-red-800 disabled:opacity-100" disabled
        onclick="document.getElementById('status_value').value='2'; highlightButton(this);enableCall();">
        {{ "No answer" | t }}
      </button>

      <!-- Outside Call -->
      <button type="button" class="auto-save can-highlight customer-disable px-4 py-2 rounded
                 bg-yellow-500 text-white hover:bg-yellow-400 disabled:bg-yellow-700 disabled:opacity-100" disabled
        onclick="document.getElementById('status_value').value='3'; highlightButton(this);enableCall();">
        {{ "Outside Call" | t }}
      </button>

</div>
    <div class="flex flex-wrap gap-2 items-center">

      <!-- Alarm modal -->
      <div id="alarm_modal" class="fixed inset-0 bg-black/50 hidden flex items-center justify-center z-50">
        <div class="bg-white rounded-2xl shadow-xl p-6 w-80">
          <h2 class="text-lg font-semibold mb-4">{{ "Set Alarm" | t }}</h2>
          {{ "Note" | t }}
          <textarea id="alarm_note" name="alarm_note" class="form-control mb-3 w-full p-2 border rounded"
            rows="3"></textarea>

          {{ "Date" | t }}
          <input type="datetime-local" lang="sv" name="product_alarm_date" id="alarm_input"
            class="w-full mb-4 p-2 border rounded-lg">
          {{ "Reminder" | t }}
          <select name="product_alarm_reminder" id="alarm_reminder" class="w-full mb-4 p-2 border rounded-lg">
            <option value="30">{{ "30 minutes before" | t }}</option>
            <option value="60">{{ "1 hour before" | t }}</option>
            <option value="120">{{ "2 hours before" | t }}</option>
            <option value="1440">{{ "1 day before" | t }}</option>
          </select>

          <div class="flex justify-end space-x-2">
            <button type="button" class="px-4 py-2 bg-gray-300 rounded-lg hover:bg-gray-400"
              onclick="document.getElementById('alarm_modal').classList.add('hidden')">
              {{ 'Cancel' | t }}
            </button>
            <button type="submit" class="customer-disable px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600"
              disabled onclick="document.getElementById('alarm_modal').classList.add('hidden')">
              {{ 'Save' | t }}
            </button>
          </div>
        </div>
      </div>

      <!-- Alarm -->
      <button type="button" class="customer-disable px-4 py-2 rounded
                 bg-blue-600 text-white hover:bg-blue-500 disabled:bg-blue-800 disabled:opacity-100" disabled
        onclick="showAlarmModal()">
        {{ "Alarm" | t }}
      </button>



            <!-- SMS -->
      <button type="button" class="customer-disable px-4 py-2 rounded
                 bg-gray-600 text-white hover:bg-gray-500 disabled:bg-gray-800 disabled:opacity-100" disabled
        onclick="showSmsModal()">
        {{ "SMS" | t }}
      </button>

      <button type="submit" class="customer-disable auto-save px-4 py-2 rounded
                 bg-green-600 text-white hover:bg-green-500 disabled:bg-green-800 disabled:opacity-100" disabled>
        {{ "Save" | t }}
      </button>
    </div>
    </div>

      <!-- Hidden inputs -->
      <input type="hidden" name="customer_comment" :value="$store.customer.comment">
      <input type="hidden" name="product_id" :value="$store.product.id">
      <input type="hidden" name="customer_id" :value="$store.customer.id">
      <input type="hidden" name="call_id" id="current_call">


    </form>
  </div>

</div>
</div>
</div>

<script>
  function autoSaveForm() {
    const form = document.getElementById('save-form');
    if (!form) return;

    const submitForm = () => form.dispatchEvent(new Event('submit', { bubbles: true, cancelable: true }));

    // Auto-submit on any input/select change
    form.querySelectorAll('input.auto-save').forEach(el => {
      el.addEventListener('change', submitForm);
    });

    form.querySelectorAll('button.auto-save').forEach(el => {
      el.addEventListener('click', submitForm);
    });

    // Auto-submit on textarea blur (unfocus)
    form.querySelectorAll('textarea.auto-save').forEach(el => {
      el.addEventListener('blur', submitForm);
    });
  }

  autoSaveForm();
</script>

<script>
  function enableCall() {
    const inputs = document.querySelectorAll('.call-disable');
    inputs.forEach(button => {
      button.disabled = false;
    });
  }
  function enableProduct() {
    const inputs = document.querySelectorAll('.product-disable');
    inputs.forEach(button => {
      button.disabled = false;
    });
  }
  function enableCustomer() {
    const inputs = document.querySelectorAll('.customer-disable');
    inputs.forEach(button => {
      button.disabled = false;
    });
  }

  function disableCall() {
    const inputs = document.querySelectorAll('.call-disable');
    inputs.forEach(button => {
      button.disabled = true;
    });
  }

  function disableProduct() {
    const inputs = document.querySelectorAll('.product-disable');
    inputs.forEach(button => {
      button.disabled = true;
    });
  }

  function disableCustomer() {
    const inputs = document.querySelectorAll('.customer-disable');
    inputs.forEach(button => {
      button.disabled = true;
    });
  }


</script>



<script>

  let h_buttons = document.querySelectorAll('.can-highlight');

  h_buttons.forEach(btn => {
    btn.addEventListener('click', () => {
      h_buttons.forEach(b => b.classList.remove('highlight'));
      btn.classList.add('highlight');
    });
  });

  function removeHighlight() {
    h_buttons.forEach(b => b.classList.remove('highlight'));
  }

  function highlightButton(button) {
    removeHighlight(); // Remove highlight from all buttons first
    button.classList.add('highlight'); // Add highlight to the clicked or specified button
  }


  function showAlarmModal() {
    const modal = document.getElementById("alarm_modal");
    const input = document.getElementById("alarm_input");
    const note = document.getElementById("alarm_note");

    note.value = "";
    const today = new Date();
    today.setHours(0, 0, 0, 0);

    // Format local date/time (not UTC)
    const year = today.getFullYear();
    const month = String(today.getMonth() + 1).padStart(2, '0');
    const day = String(today.getDate()).padStart(2, '0');
    const hours = String(today.getHours()).padStart(2, '0');
    const minutes = String(today.getMinutes()).padStart(2, '0');

    // Combine into local datetime string
    const localDateTime = `${year}-${month}-${day}T${hours}:${minutes}`;
    input.value = localDateTime;

    modal.classList.remove("hidden");
  }

function showSmsModal(multiple = false) {
    const modal = document.getElementById("sms_modal");
    const message = document.getElementById("sms_message");
    const multipleValue = document.getElementById("sms_multiple"); // renamed

    let recipients;
    if (!multiple) {
        recipients = "";
        multipleValue.innerHTML = "";
    } else {
    recipients = Object.values(Alpine.store("customers").getSelectedCustomerData())
        .filter(c => c.phone && c.phone.trim() !== "") // only keep if phone is non-empty
        .map(c => `${c.name} ${c.phone}`)
        .join("<br/>");

        const maxLen = 400;
        let displayRecipients = recipients;

        if (recipients.length > maxLen) {
            displayRecipients = recipients.substring(0, maxLen) + "...";
        }

        multipleValue.innerHTML = displayRecipients + "<br/><br/>";
          }
    modal.classList.remove("hidden");
}


</script>

<script>

  // Columns
  function setupSplit(ids, key) {
    const saved = JSON.parse(localStorage.getItem(key));
    const defaults = Array(ids.length).fill(100 / ids.length);
    Split(ids.map(id => '#' + id), {
      sizes: saved || defaults,
      gutterSize: 6,
      cursor: 'col-resize',
      minSize: 100,
      onDragEnd: sizes => localStorage.setItem(key, JSON.stringify(sizes))
    });
  }

  // Rows
  function setupRowSplit(ids, key) {
    const saved = JSON.parse(localStorage.getItem(key));
    const defaults = Array(ids.length).fill(100 / ids.length);
    Split(ids.map(id => '#' + id), {
      sizes: saved || defaults,
      direction: 'vertical',
      gutterSize: 6,
      cursor: 'row-resize',
      minSize: 100,
      onDragEnd: sizes => localStorage.setItem(key, JSON.stringify(sizes))
    });
  }

  // Usage
  // Initialize Split.js immediately for static rows
  setupSplit(['col1', 'col2', 'col3', 'col4'], 'layout-topRow');
  setupSplit(['col5', 'col6', 'col7'], 'layout-bottomRow');
  setupRowSplit(['topRow', 'bottomRow'], 'row-split');

</script>

<script>
function sms(multiple = false) {
    console.log("sms clicked")

  let sms_type = "single";
  let numbers = "";

  if (multiple){
    console.log("sms multiple")
      let type = "multiple_sms_android";
      numbers = Object.values(Alpine.store("customers").getSelectedCustomerData())
      .filter(c => c.phone && c.phone.trim() !== "") // only keep if phone is non-empty
      .map(c => `${c.phone}`)
      .join(",");
      sms_type = "multiple";
  }

    if (!ws || ws.readyState !== WebSocket.OPEN) {
        console.log("WebSocket not connected yet");
        return;
    }
    const message = document.querySelector("#sms_message").value;
    console.log("message",message);
    ws.send(JSON.stringify({ type: "sms", message: message, sms_type: sms_type, numbers: numbers }));
    document.querySelector("#sms_message").value = "";
}


</script>

<style>
  /* Ensure Split.js gutters display */

  html,
  body {
    height: 100%;
    margin: 0;
  }

  .gutter {
    background-color: #ccc;
  }

  #topRow,
  #bottomRow {
    width: 100%;
    /* required for flex layout */
    display: flex;
    flex-direction: row;
    overflow: auto;
  }

  /* Needed so Split.js can adjust heights dynamically */
  #topRow,
  #bottomRow,
  .gutter.gutter-vertical {
    height: calc(50% - 3px);
    /* initial height guess; Split.js will override */
  }

  .gutter {
    background: #ddd;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .gutter.gutter-vertical {
    cursor: row-resize;
    height: 6px;
  }

  .gutter.gutter-horizontal {
    cursor: col-resize;
    width: 6px;
  }
</style>