<div x-data x-init='
  Alpine.store("productCustomer").status = "-";
  Alpine.store("productCustomer").type_status = String({{ product_type_status | tojson }} || "-")
  Alpine.store("productCustomer").type_status = String({{ product_type_status | tojson }} || "0")
  Alpine.store("productCustomer").status = String({{ product_status | tojson }} || "0");
  ;
'>

<div class="mb-1"><strong>{{ "Name" | t }}:</strong> {{ product.name }}</div>

  <div class="mb-1">
    <strong>{{ "Product Type" | t }}:</strong>
    {{ products_map[product.type_id].name }}
  </div>


{% if product.price is not none and product.price > 0 %}
<div class="mb-2"><strong>{{ "Price" | t }}:</strong> {{ product.price }} SEK</div>
{% endif %}

{% if product.description %}
<div class="mb-2"><strong>{{ "Description" | t }}:</strong> {{ product.description }}</div>
{% endif %}

{% if product.start_date %}
<div class="mb-2"><strong>{{ "Start Date" | t }}:</strong> {{ product.start_date | date }}</div>
{% endif %}

{% if product.end_date %}
<div class="mb-2"><strong>{{ "End Date" | t }}:</strong> {{ product.end_date | date }}</div>
{% endif %}

<div class="mb-2"><strong>{{ "Product Types" | t }}:</strong>
    {% set types = [] %}
    {% if product.type_a %}{% set _ = types.append(filters_map["filter_a"]) %}{% endif %}
    {% if product.type_b_ %}{% set _ = types.append(filters_map["filter_b"]) %}{% endif %}
    {% if product.type_c %}{% set _ = types.append(filters_map["filter_c"]) %}{% endif %}
    {% if product.type_d %}{% set _ = types.append(filters_map["filter_d"]) %}{% endif %}
    {% if product.type_e %}{% set _ = types.append(filters_map["filter_e"]) %}{% endif %}
    {% if product.type_f %}{% set _ = types.append(filters_map["filter_f"]) %}{% endif %}
    {% if product.type_g %}{% set _ = types.append(filters_map["filter_g"]) %}{% endif %}
    {{ types | join(', ') if types else 'None' }}
</div>

<div class="mb-2">
    {% set extras = [] %}
    {% if product.extra_external %}{% set _ = extras.append('Extern') %}{% endif %}
    {% if product.extra_non_political %}{% set _ = extras.append('Opolitisk') %}{% endif %}
    {% if product.extra_visilble_all %}{% set _ = extras.append('Synlig för alla') %}{% endif %}
    {{ extras | join(', ') if extras else '' }}
</div>

