<div class="mb-1"><strong>{{ "Name" | t }}:</strong> {{ event.name }}</div>

{% if event.price is not none and event.price > 0 %}
<div class="mb-1"><strong>{{ "Price" | t }}:</strong> {{ event.price }} SEK</div>
{% endif %}

{% if event.description %}
<div class="mb-1"><strong>{{ "Description" | t }}:</strong> {{ event.description }}</div>
{% endif %}

<div class="mb-1"><strong>{{ "Start Date" | t }}:</strong> {{ event.start_date.strftime('%Y-%m-%d %H:%M') }}</div>

{% if event.end_date %}
<div class="mb-1"><strong>{{ "End Date" | t }}:</strong> {{ event.end_date.strftime('%Y-%m-%d %H:%M') }}</div>
{% endif %}

<div class="mb-1"><strong>{{ "Event Types" | t }}:</strong>
    {% set types = [] %}
    {% if event.type_a %}{% set _ = types.append('Party') %}{% endif %}
    {% if event.type_b %}{% set _ = types.append('AW') %}{% endif %}
    {% if event.type_c %}{% set _ = types.append('Föreläsning') %}{% endif %}
    {% if event.type_d %}{% set _ = types.append('Aktivism') %}{% endif %}
    {% if event.type_e %}{% set _ = types.append('Konferens') %}{% endif %}
    {{ types | join(', ') if types else '' }}
</div>

    {% set extras = [] %}
    {% if event.extra_external %}{% set _ = extras.append('Extern') %}{% endif %}
    {% if event.extra_non_political %}{% set _ = extras.append('Opolitisk') %}{% endif %}
    {% if event.extra_visilble_all %}{% set _ = extras.append('Synlig för alla') %}{% endif %}

{% if extras %}
<div class="mb-1"><strong>{{ "Extra" | t }}:</strong>
    {{ extras | join(', ') if extras else '' }}
{% endif %}


<br/>    
<br/>    


<div x-data="{ active: '{{ status_filter or "all" }}' }" class="flex flex-wrap gap-2 mb-4">
    <button 
        hx-get="{{ url_for('event_detail', event_id=event.id) }}?list=short&status_filter=1"
        hx-target="#event-info"
        class="px-3 py-1 border rounded hover:bg-gray-200"
        :class="{'bg-gray-100': {{ status_filter }} === 1}" >
        {{ "Not interested" | t }}
        <span>{{ totals.not_going }}</span>
    </button>

    <button 
        hx-get="{{ url_for('event_detail', event_id=event.id) }}?list=short&status_filter=2"
        hx-target="#event-info"
        class="px-3 py-1 border rounded hover:bg-gray-200"
        :class="{'bg-gray-100': {{ status_filter }} === 2}" >
        {{ "Interested" | t }}
        <span >{{ totals.maybe }}</span>
    </button>

    <button 
        hx-get="{{ url_for('event_detail', event_id=event.id) }}?list=short&status_filter=3"
        hx-target="#event-info"
        class="px-3 py-1 border rounded hover:bg-gray-200"
        :class="{'bg-gray-100': {{ status_filter }} === 3}" >
        {{ "Comming" | t }}
        <span>{{ totals.going }}</span>
    </button>

    <button 
        hx-get="{{ url_for('event_detail', event_id=event.id) }}?list=short&status_filter=4"
        hx-target="#event-info"
        class="px-3 py-1 border rounded hover:bg-gray-200"
        :class="{'bg-gray-100': {{ status_filter }} === 4}" >
        {{ "Paid" | t }}
        <span>{{ totals.paid }}</span>
    </button>

    <button 
        hx-get="{{ url_for('event_detail', event_id=event.id) }}?list=short&status_filter=5"
        hx-target="#event-info"
        class="px-3 py-1 border rounded hover:bg-gray-200"
        :class="{'bg-gray-100': {{ status_filter }} === 5}" >
        {{ "Attended" | t }}
        <span>{{ totals.attended }}</span>
    </button>

    <button 
        hx-get="{{ url_for('event_detail', event_id=event.id) }}?list=short"
        hx-target="#event-info"
        class="px-3 py-1 border rounded hover:bg-gray-200"
        :class="{'bg-gray-100': {{ status_filter }} === 0}" >
        {{ "All" | t }}
        <span>
            {{ totals.not_going + totals.maybe + totals.going + totals.paid + totals.attended }}
        </span>
    </button>

</div>

<table id="customer-table" class="table-auto w-full border border-gray-300 mt-2 overflow-x-auto">
    <thead class="bg-gray-100">
        <tr>
            <th class="px-3 py-1 border">{{ "Name" | t }}</th>
            <th class="px-3 py-1 border" style="width:200px">{{ "Not interested" | t }}</th>
            <th class="px-3 py-1 border" style="width:200px">{{ "Interested" | t }}</th>
            <th class="px-3 py-1 border" style="width:200px">{{ "Comming" | t }}</th>
            <th class="px-3 py-1 border" style="width:200px">{{ "Paid" | t }}</th>
            <th class="px-3 py-1 border" style="width:200px">{{ "Pay at the door" | t }}</th>
            <th class="px-3 py-1 border" style="width:200px">{{ "Attended" | t }}</th>
            <th class="px-3 py-1 border" style="width:200px">{{ "Did not attend" | t }}</th>
            
        </tr>
    </thead>
    <tbody>
        {% for ec in event_customers %}
        <tr class="hover:bg-gray-50">
            <td class="px-3 py-1 border">{{ ec.customer.first_name }} {{ ec.customer.last_name }}</td>
            <td class="px-3 py-1 border text-green-600 font-bold text-center">{% if ec.status == 2 %}✔{% endif %}</td>
            <td class="px-3 py-1 border text-green-600 font-bold text-center">{% if ec.status == 1 %}✔{% endif %}</td>
            <td class="px-3 py-1 border text-green-600 font-bold text-center">{% if ec.status == 3 %}✔{% endif %}</td>
            <td class="px-3 py-1 border text-green-600 font-bold text-center">{% if ec.status == 6 %}✔{% endif %}</td>
            <td class="px-3 py-1 border text-green-600 font-bold text-center">{% if ec.status == 4 %}✔{% endif %}</td>
            <td class="px-3 py-1 border text-green-600 font-bold text-center">{% if ec.status == 5 %}✔{% endif %}</td>
            <td class="px-3 py-1 border text-green-600 font-bold text-center">{% if ec.status == 7 %}✔{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
