<div id="event-container">
    <div id="event-list">
            <div class="full-table">
            <table class="table-auto w-full border overflow-x-auto">
                <thead>
                    <tr>
                        <th class="px-2 py-1 border">{{ "Nr" | t }}</th>
                        <th class="px-2 py-1 border">{{ "Name" | t }}</th>
                        <th class="px-2 py-1 border">{{ "Start Date" | t }}</th>
                        <th class="px-2 py-1 border" x-show="is_admin">{{ "Command" | t }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr hx-get="{{ url_for('event_detail', event_id=event.id) }}?list=short" hx-target="#event-info"
                        hx-trigger="click" class="cursor-pointer hover:bg-gray-100">
                        <td class="px-2 py-1 border">{{ loop.index  }}</td>
                        <td class="px-2 py-1 border">{{ event.name }}</td>
                        <td class="px-2 py-1 border">{{ event.start_date }}</td>
                        <td class="px-2 py-1 border text-center" @click.stop x-show="is_admin">

                            <button hx-get="{{ url_for('event_detail', event_id=event.id) }}"
                                x-show="is_admin"
                                hx-target="#modal-container" hx-swap="innerHTML" @click="$store.modal.open = true">
                                {{ "Edit" | t }}
                            </button>

                            <button hx-post="{{ url_for('delete_event', event_id=event.id) }}"
                                x-show="is_admin"
                                hx-on="htmx:afterRequest: showPopup(event); reloadEvents();"
                                hx-trigger="confirmed"
                                x-confirm="{{'Are you sure you want to delete this record?' | t }}">
                                {{ "Delete" | t }}
                            </button>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

                    <div class="mt-2 flex gap-2">

            <button x-show="is_admin" hx-get="/events/event/0" hx-target="#modal-container" @click="$store.modal.open = true"
                class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                {{ "New Event" | t }}
            </button>
            </div>

        </div>
        <div class="mt-2 flex gap-2">


            <form hx-post="/events/set_filter" hx-target="#event-container" hx-swap="innerHTML" hx-ext="json-enc"
                class="space-y-4">

                <!-- Event date range -->
                <div class="mb-2">
                    <div class="flex gap-2 items-center">
                        <input type="date" lang="sv" name="event_date_filter-start" value="" class="border p-1">
                        <span>to</span>
                        <input type="date" lang="sv" name="event_date_filter-end" value="" class="border p-1">
                        <button type="submit" class="px-3 py-1 border rounded bg-gray-100 hover:bg-gray-200">
                            {{ "Apply filters" | t }}
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="mt-4" id="event-info">
    </div>
</div>